.dc-bio{
    padding: 0 0.5rem 0.8rem 0.5rem;
    box-sizing: border-box;
    text-align: justify;
    text-align-last: justify;
    @media(max-width: 960px){
        padding-right: 0.5rem;
        padding-top: 1.5rem;
        text-align: center;
        text-align-last: center;
    }
    @media(min-width: 960px){
        height: 2rem; /*fixed height to hide the :after content*/
        &:after{
            /* forces safari to treat it as 2 lines so justify works even thopugh text-align-last is unsupported */
            content: ' dmstfctn dmstfctn dmstfctn dmstfctn';
            opacity: 0;
        }   
    }
}