.dc-bio{
    padding: 0 1rem 0.8rem 0.5rem;
    box-sizing: border-box;
    text-align: justify;
    text-align-last: justify;
    @media(max-width: 960px){
        padding-right: 0.5rem;
        padding-top: 1.5rem;
        text-align: center;
        text-align-last: center;
    }
}