.dc-cv{
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    .cv-contents{
        position: absolute;
        top: 0;
        display: table;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .cv-entry{        
        display: table-row;

        .dctxt--date,
        .dc-cv--type,
        .dc-cv--entry{
            display: table-cell;
        }
        .dctxt--date,
        .dc-cv--type,
        .dc-cv--entry,
        .dc-cv--linewrap{
            height: 1.2rem;
            line-height: 1rem;
            overflow: hidden;
            white-space: nowrap;
        }
        .dc-cv--linewrap{
            display: flex;
            justify-content: space-between;
        }
    }
}