.dc-cv{
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    .cv-contents{
        position: absolute;
        top: 0;
        display: table;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}